@(form: Form[(Pizza, List[(Ingredient, Boolean)])])


@main("Edit a pizza"){
    @helper.form(action = routes.Application.savePizza()) {
        <input type="hidden" name=pizza.id value="@{form("pizza.id").value.getOrElse("")}" />

        @helper.inputText(form("pizza.name"), '_label -> "Name:")
        @helper.inputText(form("pizza.price"), '_label -> "Price:", 'type -> "number", 'min -> 0, 'step -> 0.01)

        @helper.repeat(form("ings"), min = 1) { field =>
            <input type="hidden" name=@{field("ing.name").name} value="@{field("ing.name").value.get}" />
            <input type="hidden" name=@{field("ing.id").name} value="@{field("ing.id").value.get}" />
            @helper.checkbox(field("isIn"), '_label -> field("ing.name").value.get)
        }

        <button class="btn btn-primary">Save pizza!</button>
    }

}