@import helpers.{Precision, Readable}
@(orders: Seq[(Order, Client, Seq[(Int, Pizza)])], setPaidForm: Form[(Boolean, List[(Option[Int], Boolean)])])


@main("Place an order!"){
    @helper.form(action = routes.Application.setPaid()) {
        <table class="table">
            <tr>
                <th></th>
                <th>Paid</th>
                <th>Order id</th>
                <th>Client id</th>
                <th>Client name</th>
                <th>Cost</th>
                <th>Order contents</th>
            </tr>

            @orders.zipWithIndex.map { case ((order, client, contents), i) =>
            <tr>
                <td>
                <input type="hidden" name=@{s"payList[$i].orderId"} value="@order.id" />
                    @helper.checkbox(setPaidForm(s"payList[$i].setPaid"), '_label -> "")

                </td>
                <td> @Readable(order.paid)</td>
                <td> @order.id </td>
                <td> @client.id </td>
                <td> @{client.name + " " + client.surname} </td>
                <td> @{Precision(contents.map{ case(count, pizza) => count*pizza.price }.sum, 2)}</td>
                <td>
                    @contents.map{ case (count, pizza) =>
                        @count x @{pizza.name}
                    }
                </td>
            </tr>
            }

        </table>

        <button type="submit" name="setPaid" value="false">Set unpaid</button>
        <button type="submit" name="setPaid" value="true">Set paid</button>
    }

}