@import helpers.{Precision, Readable}
@(clients: Seq[Client])


@main("Place an order!"){
    @helper.form(action = routes.Application.setPaid()) {
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Address</th>
                <th></th>
            </tr>

            @clients.map { client =>
            <tr>
                <td>@client.id </td>
                <td>@client.name</td>
                <td>@client.surname</td>
                <td>@client.address</td>
                <td>
                    <a href="@routes.Application.editClient(client.id.get)" class="btn">Edit</a>
                </td>
            </tr>
            }

        </table>
    }

    <a href="@routes.Application.newClient" class="btn btn-primary">New client</a>

}