@import helpers.Precision
@(pizzas: Seq[(Pizza, Seq[Ingredient])])


@main("Pizza menu"){
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Ingredients</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>

        @pizzas.zipWithIndex.map { case (p, i) =>
        <tr>
            <td> @p._1.name </td>
            <td> @p._2.mkString(", ")</td>
            <td> @p._1.price </td>
            <td>
                <a href="@routes.Application.editPizza(p._1.id.get)" class="btn btn-light">Edit</a>
            </td>
        </tr>
        }

    </table>

    <a href="@routes.Application.newPizza" class="btn btn-primary">New pizza</a>
    <a href="@routes.Application.newRandom" class="btn btn-primary">New random pizza</a>
}