@(pizzas: Seq[(Pizza, Seq[Ingredient])], clients: Seq[Client], orderForm: Form[(Order, List[(Option[Int], Int)])])


@main("Place an order!"){
    @helper.form(action = routes.Application.saveOrder()) {
        <div>
            @*<p>Choose a client:</p>*@
            @helper.inputRadioGroup(orderForm("order.clientId"),
                clients.map( c => (c.id.map(_.toString).getOrElse("-1"), c.name + " " + c.surname)),
                '_label -> "Choose a client:"
            )
        </div>

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Ingredients</th>
                <th>Price</th>
                <th>No. of pizzas</th>
            </tr>

            @pizzas.zipWithIndex.map { case (p, i) =>
                <tr>
                    <td> @p._1.name </td>
                    <td> @p._2.mkString(", ")</td>
                    <td> @p._1.price </td>
                    <td>
                        <input type="hidden" name=@{s"pizzaQuants[$i].pizzaId"} value="@p._1.id.get" />
                        @helper.inputText(orderForm(s"pizzaQuants[$i].count"), 'type -> "number", 'min -> 0, '_label -> "")
                    </td>
                </tr>
            }

        </table>

        <button class="btn btn-primary">Save order!</button>
    }

}